[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "iNZightMR"]
	path = iNZightMR
	url = https://github.com/inzightvit/inzightmr
[submodule "iNZightPlots"]
	path = iNZightPlots
	url = https://github.com/inzightvit/inzightplots
[submodule "iNZightRegression"]
	path = iNZightRegression
	url = https://github.com/inzightvit/inzightregression
[submodule "iNZightTS"]
	path = iNZightTS
	url = https://github.com/inzightvit/inzightts
[submodule "iNZightTools"]
	path = iNZightTools
	url = https://github.com/inzightvit/inzighttools
